/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-display: swap; /* подгрузка резервного шрифта перед основным  */
  font-family: "Inter-Variable"; /* вариативный шрфит */
  font-weight: 400 785; /* диапазон весов - переменная по тестам не проходит */

  src: local("Inter-Variable");
  src: url("Inter-Variable.woff2") format("woff2-variations")
    format("woff2 supports variations");
}

@font-face {
  font-display: swap;
  font-family: "PressStart2P"; /* пиксельный шрифт */
  font-weight: normal;

  src: url(./PressStart2P-Regular.woff) format("woff");
}
