/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes like-zoom {
  0% {
    scale: 1;
  }
  95% {
    scale: 1.6;
  }
  100% {
    scale: 1;
  }
}

@keyframes like-sparks {
  from {
    fill: transparent;
  }
  to {
    fill: var(--accent-color);
  }
}

.like-icon {
  fill: var(--text-color);
  transition: fill 0.3s var(--like-transition-delay) linear;
}

.like-icon:hover {
  fill: var(--text-color);
}

.like-icon:active {
  fill: var(--accent-color);
  transition: fill var(--like-active-speed) linear;
}

.like-icon.is-liked {
  fill: var(--accent-color);
  animation: like-zoom var(--like-duration) var(--like-delay) ease-in forwards,
    like-sparks var(--like-duration) var(--like-sparks-delay) ease-in forwards;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .sparks {
  animation: like-sparks var(--like-duration) var(--like-sparks-delay) ease-in
    forwards;
}
