@keyframes like-zoom {
  0% {
    scale: 1;
  }
  95% {
    scale: 1.6;
  }
  100% {
    scale: 1;
  }
}

@keyframes like-sparks {
  from {
    opacity: 0;
    fill: transparent;
  }
  to {
    opacity: 1;
    fill: var(--accent-color);
  }
}

.like-icon {
  fill: var(--text-color);
  transition: fill 0.3s var(--like-transition-delay) linear;
}

.like-icon .core,
.like-icon .main-body {
  transition: fill 0.3s ease;
}

.like-icon .main-body {
  transition-delay: 0.05s;
}

.like-icon:hover .core,
.like-icon:active .core {
  fill: var(--accent-color);
}

.like-icon:hover .main-body,
.like-icon:active .main-body {
  fill: var(--accent-color);
}

.like-icon:active {
  fill: var(--accent-color);
  transition: fill var(--like-active-speed) linear;
}

.like-icon.is-liked .heart {
  animation: like-zoom var(--like-duration) var(--like-delay) ease-in forwards;
}

.like-icon.is-liked .core {
  fill: var(--accent-color);
  transition: fill 0.3s 0.1s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.16s ease;
}

.like-icon.is-liked .contour {
  fill: var(--accent-color);
  transition: fill 0.3s 0.22s ease;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  animation: like-sparks var(--like-duration) var(--like-sparks-delay) ease-in
    forwards;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}
