/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes like-zoom {
  0% {
    scale: 1;
  }
  95% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

@keyframes like-sparks {
  from {
    fill: transparent;
  }
  to {
    fill: var(--accent-color);
  }
}

.like-icon {
  fill: var(--text-color); /* По умолчанию — чёрное сердце */
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover {
  fill: var(--text-color); /* При наведении — остаётся чёрным */
}

.like-icon:active {
  fill: var(
    --accent-color
  ); /* При нажатии — быстро становится красным + рамка */
  transition: fill 0.1s linear; /* быстро */
}

.like-icon.is-liked {
  fill: var(--accent-color);
  animation: like-zoom 0.3s 0.1s ease-in forwards,
    like-sparks 0.3s 0.3s ease-in forwards; /* После лайка — красное, с анимацией */
  transition: fill 0.3s linear;
}

.like-icon.is-liked .sparks {
  /* Анимация искр */
  animation: like-sparks 0.3s 0.3s ease-in forwards;
}
