/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  width: var(--page-width);
  min-width: var(--min-page-width);
  max-width: 100%;
  margin: var(--page-margin) auto;
  color: var(--main-color);
  font-family: var(--font-main);
  background: var(--background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-content);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--header-gap);
  margin-bottom: var(--header-bottom-margin);
  border: 2px solid var(--main-color);
  padding: 0;
  font-family: var(--font-accent);
  background-color: var(--background-color);
  width: var(--page-width);
  height: var(--header-height);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.header__title {
  font-size: clamp(3.0624rem, 2.7103rem + 1.5023vw, 4.0626rem);
  text-transform: uppercase;
}

.header__title:focus {
  outline: none;
}

.header__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--post-gap);
}

.post {
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
}

.post__title {
  padding: var(--post-title-padding);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.post__cover {
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.post__cover__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.post__cover__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.8;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  text-shadow: 1px 1px 0 var(--watermark-stroke-color, currentColor);
}

@supports (
    /* проверка поддержки для водяного знака, для браузеров */
      (-webkit-text-stroke: 1px var(--watermark-stroke-color)) or
      (text-stroke: 1px var(--watermark-stroke-color))
  )
  and (mix-blend-mode: hard-light) {
  /* текст смешивается с фоном(в теории) */
  .post__cover__watermark {
    text-shadow: none;
    mix-blend-mode: hard-light;
  }
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: var(--post-content-padding);
  padding-bottom: var(--post-content-padding-bottom);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-weight-content);
}

.post__buttons {
  display: flex;
  justify-content: end;
  gap: var(--post-buttons-gap);
  padding-bottom: var(--post-buttons-padding-bottom);
}

.main__footer {
  display: flex;
  justify-content: var(--main-footer-justify);
}

.card__icon-button {
  position: relative;
  display: flex;
  align-items: end;
  min-height: var(--icon-button-min-height);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--main-color);
  outline-offset: -2px; /* отступ не снаружи, а внутри при - */
  opacity: 0; /* полная прозрачность */
  transition: opacity 0.3s ease;
}

.card__icon-button:active::before {
  opacity: 1;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 2px 2px 0px 0px var(--main-color);
}

.card__like-button,
.footer__button {
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
}

.card__like-button::before,
.footer__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: left 0.5s ease-in-out;
}

.card__like-button:hover::before,
.footer__button:hover::before {
  left: 0; /* для лайка - фон полностью заезжает, под запуск анимации фона */
}

.card__like-button {
  width: var(--like-button-width);
  min-height: var(--like-button-height);
  padding: var(--like-button-padding);
  border: 2px solid var(--main-color);
}

.button__text {
  position: relative;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  transition: color 0.3s ease;
}

.card__like-button:hover .button__text,
.footer__button:hover .button__text {
  color: var(--button-text-color);
}

.button svg {
  color: currentColor;
  transition: color 0.3s ease;
}

.button:hover svg,
.button:focus svg {
  color: var(--button-text-color);
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--main-color);
}

.dialog {
  width: calc(100vw * (352 / 1440)); /* рамка диалогового окна */
  border: 2px solid var(--main-color);
  padding: 30px;
  background: var(--background-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--main-color);
}

.dialog__warning {
  /* для текста в диалоговом окне для шрифта */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-family: var(--font-accent);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  justify-content: center;
  align-items: center;
  min-height: 38px;
  padding: 10px 16px;
  gap: 10px;
  width: 100%;
}

.dialog__button .button__text {
  /* для текста в кнопке OK */
  color: var(--main-color);
}

.image_blur {
  filter: var(--filter-blur);
}

.image_opacity {
  filter: var(--filter-opacity);
}

.image_brightness {
  filter: var(--filter-brightness);
}

.image_grayscale {
  filter: var(--filter-grayscale);
}

.image_saturate {
  filter: var(--filter-saturate);
}

.image_sepia {
  filter: var(--filter-sepia);
}

.image_effects {
  filter: var(--filter-effects);
}

.footer__button {
  gap: 8px;
  min-height: var(--footer-button-height);
  padding: var(--footer-button-padding);
  overflow: hidden;
}

@media (width <= 375px) {
  /* адаптив для мобилок, здесь не все ошибки смог поправить */
  .page {
    width: 100%;
    min-width: var(--min-page-width);
    padding: 0;
  }

  .header {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .header__title {
    font-size: 2.2rem;
    word-break: break-all;
    text-align: center;
    padding: 0 10px;
  }

  .header__description {
    font-size: 1rem;
    text-align: center;
  }

  .main {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box; /* ограничение краёв для гибкости, отступы входят в общий размер */
  }

  .post {
    width: 100%;
    max-width: none;
    box-sizing: border-box; /* ограничение краёв для гибкости, отступы входят в общий размер */
    margin: 0 auto;
  }

  .post__cover {
    /* для правки схлопнувшейся карточки, возникли проблемы с ChtoTakoe.jpeg */
    position: relative;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    min-height: 150px;
  }

  .post__cover__image {
    display: block; /* занимает всю ширину, если нет огарничений */
    width: 100%;
    height: auto;
    object-fit: contain; /* для картинки в карточке, чтобы вписывалась в рамку */
    object-position: center;
    max-height: 400px;
  }

  .dialog {
    padding: 30px 40px;
  }

  .footer__button {
    flex-direction: column;
    gap: 8px;
  }

  .footer__button svg {
    width: 23px;
    height: 23px;
  }

  dialog[open] {
    /* диалоговое окно */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
